@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

.footer{
    padding: 20px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlacesfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1200px;
    gap: 10px;
}

.footer__continfo__title{
    font-family: 'Share', cursive;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.footer__contimg__imgfooter{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__continfo{
    font-family: 'Share', cursive;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.footer__continfo__cita{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .footer{
        flex-direction: column;
    }
    .enlacesfooter{
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer__continfo__cita{
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .enlaces__link{
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
}